<head>
    <base href="/" /> 
</head>
<body>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routerData">
            <RouteView RouteData="routerData" />
        </Found>
    </Router>
    <script src="_framework/blazor.web.js"></script>
</body>
