@page "/calc"

<link href="Calculate.css" rel="stylesheet" />

<style>
    .container4 {
        width: 50vw; /* Половина ширины viewport */
        height: 30vh; /* Полная высота viewport */
        background-color: lightgray;
    }
</style>

<h1>Расчет вероятностей выпадения предметов</h1>

<div class="container4">
    <label>
        <b>Предметы и их шанс выпадения</b>
        </label>
    <Massive />
</div>
